**

!Dockerfile
!Dockerfile.dev
!package.json
!package-lock.json
!tsconfig.json
!config.yaml
!src/
!src/**
!templates/
!templates/**

.git
.github
.husky
.generated
dist
dist-test
examples
input
logs
node_modules
output
tmp
*.log
*.tsbuildinfo
templates/node_modules
